<h1>Books List:</h1>
<ul>
{{#each bookList}}
    <div>
        <h3>{{this.title}}</h3>
        <h4>By: {{this.author}}</h4>
        <a href="/books/{{_id}}">More details</a>
    </div>
{{/each}}
</ul>